/* TYPOGRAPHY */
h1 {
  font-family: gotham; }

h2 {
  font-family: gotham;
  font-weight: 900;
  font-size: 40px;
  line-height: 40px; }

h3 {
  font-family: gotham; }

h4 {
  font-family: macklin;
  font-size: 22px;
  font-style: italic;
  float: left; }

p {
  font-family: gotham;
  font-size: 15px; }

a {
  font-family: gotham; }

li {
  font-family: gotham; }

.green-underline {
  border-bottom: 6px solid #C2D500; }

.turquoise-underline {
  border-bottom: 6px solid #00AC98; }

.orange-underline {
  border-bottom: 6px solid #F26524; }

.small {
  font-family: gotham !important;
  font-weight: 900 !important;
  font-size: 28px;
  padding: 0;
  text-transform: uppercase; }

.giant {
  font-size: 65px; }

/* MAIN STYLES */
html {
  padding-top: 0 !important;
  margin: 0 !important; }

body {
  padding-top: 0px !important;
  margin-top: 0px !important; }

section {
  height: 100vh;
  float: left;
  position: relative; }
  section .copy-container-left {
    height: 50vh;
    width: 41.75vw !important;
    left: 3.25vw;
    margin-top: 25vh;
    background-color: #f2f2f2;
    position: absolute;
    z-index: -1;
    margin-left: 5vw !important; }
    section .copy-container-left h2 {
      float: left;
      margin-top: 50px;
      margin-bottom: 15px; }
    section .copy-container-left p {
      float: left; }
    section .copy-container-left ul {
      float: left;
      list-style: none; }
      section .copy-container-left ul li {
        margin-top: 10px; }
  section .copy-container-right {
    height: 50vh;
    margin-top: 25vh;
    background-color: #f2f2f2;
    position: absolute;
    z-index: -1;
    float: right; }
    section .copy-container-right h2 {
      float: left;
      margin-top: 50px;
      margin-bottom: 15px; }
    section .copy-container-right p {
      float: left; }
    section .copy-container-right ul {
      float: left;
      list-style: none; }
      section .copy-container-right ul li {
        margin-top: 10px; }
  section .copy-top {
    z-index: 9;
    background-color: rgba(229, 229, 229, 0.5) !important;
    position: absolute; }
    section .copy-top div {
      float: left; }
    section .copy-top a:hover {
      opacity: .75; }
    section .copy-top .image-container-left {
      z-index: 0 !important; }
      section .copy-top .image-container-left img {
        z-index: 0 !important; }
    section .copy-top .image-container-right {
      z-index: 0; }
  section .copy-link-green {
    background-color: #C2D500;
    font-family: gotham;
    float: left;
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 10px;
    margin-top: 25px; }
  section .copy-link-turquoise {
    background-color: #00AC98;
    font-family: gotham;
    float: left;
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 10px;
    margin-top: 25px; }
  section .copy-link-orange {
    background-color: #F26524;
    font-family: gotham;
    float: left;
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 10px;
    margin-top: 25px; }
  section .image-container-right {
    float: right;
    height: 75vh;
    margin-top: 12.5vh;
    overflow: hidden;
    z-index: 0 !important; }
    section .image-container-right img {
      height: 100% !important;
      width: auto; }
  section .image-container-left {
    float: left;
    height: 75vh;
    margin-top: 12.5vh;
    overflow: hidden;
    z-index: -1 !important;
    position: absolute; }
    section .image-container-left img {
      height: 100% !important;
      width: auto; }

.scroll-container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory; }

section {
  height: 100vh;
  scroll-snap-align: center; }

/* HEADER */
header {
  background-color: white;
  height: 8vh;
  margin-top: 0 !important;
  padding-top: 0;
  position: fixed;
  z-index: 10;
  max-height: 65px; }
  header .logo {
    padding-top: 15px;
    padding-left: 10vh; }
  header a {
    float: left;
    text-decoration: none; }
  header ul {
    list-style: none;
    padding-top: 0 !important;
    margin-top: 0 !important;
    float: left;
    padding-left: 10vw; }
    header ul li {
      margin-top: 0;
      float: left;
      width: 33.33%;
      text-align: center; }
      header ul li a {
        float: left;
        color: black;
        padding-top: 20px;
        font-size: 12px;
        letter-spacing: 2px;
        width: 100%; }
      header ul li a:hover {
        border-top: 5px solid #F26524;
        padding-top: 15px;
        color: black; }
  header #active a {
    border-top: 5px solid #00AC98;
    padding-top: 15px;
    color: black;
    font-weight: bold; }
  header .box-link {
    float: left;
    padding: 10px;
    max-height: 35px !important; }
    header .box-link .box-link-1 {
      width: 50% !important;
      margin-right: 5%; }
    header .box-link a {
      padding: 7.5px;
      float: left;
      color: black;
      text-align: center;
      width: 30%;
      font-size: 12px;
      letter-spacing: 2px;
      border: 1px solid lightgray;
      height: 5vh !important; }
    header .box-link a:hover {
      color: white;
      background-color: #F26524;
      border: 1px solid #F26524; }

/* PEOPLE SECTION */
#people {
  height: 125vh !important;
  position: relative; }
  #people h2 {
    margin-bottom: 25px; }
  #people img {
    height: auto;
    position: absolute; }

/* ANIMATION */
iframe {
  height: 100vh; }

#people .svg1 {
  position: fixed;
  animation: scale 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -.01s);
  animation-iteration-count: 1;
  animation-fill-mode: both;
  top: 0vh; }
@keyframes scale {
  to {
    transform: scale(15000) translateY(2500px) translateX(-23vw); } }
#people .svg2 {
  position: fixed;
  animation: scale2 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -.01s);
  animation-iteration-count: 1;
  animation-fill-mode: both;
  top: 0vh; }
@keyframes scale2 {
  to {
    transform: scale(15000) translateY(-5000px) translateX(-50vw); } }
/* CLOSE #PEOPLE */
.zoom {
  position: fixed;
  height: 100vh;
  background-image: url("../assets/images/shannon-2.png");
  background-repeat: no-repeat;
  background-size: cover; }

.reveal-container {
  margin-top: 15vh; }

/* HOME PAGE */
.home-1 {
  overflow: hidden; }
  .home-1 .svg-v-1 {
    position: absolute;
    left: 8.25vw; }
  .home-1 .svg-v-2 {
    position: absolute;
    left: 50vw; }
  .home-1 .svg-h-1 {
    position: absolute;
    top: 25vh;
    z-index: 5 !important; }
  .home-1 .svg-h-2 {
    position: absolute;
    top: 75vh;
    z-index: 5 !important; }

.who-1 {
  overflow: hidden; }
  .who-1 .svg-v-1 {
    position: absolute;
    left: 8.25vw; }
  .who-1 .svg-v-2 {
    position: absolute;
    left: 50vw; }
  .who-1 .svg-h-1 {
    position: absolute;
    top: 25vh; }
  .who-1 .svg-h-2 {
    position: absolute;
    top: 75vh; }

.who-2 {
  overflow: hidden;
  position: relative; }
  .who-2 .svg-v-3 {
    position: absolute;
    right: 8.25vw; }
  .who-2 .svg-v-4 {
    position: absolute;
    left: 50vw; }
  .who-2 .svg-h-3 {
    position: absolute;
    top: 25vh; }
  .who-2 .svg-h-4 {
    position: absolute;
    bottom: 25vh; }

/* FOOTER */
footer {
  float: left;
  position: fixed;
  bottom: 0;
  height: 5vh;
  background-color: white;
  z-index: 10; }
  footer ul {
    float: left !important;
    list-style: none;
    margin-top: 10px; }
  footer li {
    float: left;
    padding-right: 20px; }
  footer a {
    float: left;
    color: black;
    font-size: 12px;
    letter-spacing: 2px;
    text-decoration: none; }
  footer a:hover {
    text-decoration: none;
    color: gray; }

/* CLOSE FOOTER */
/* HOME */
#home-main {
  height: 100vh;
  float: left;
  position: relative;
  z-index: 0;
  overflow: hidden; }
  #home-main .video-background {
    width: 100vw;
    height: auto;
    z-index: 0; }
  #home-main h2 {
    position: absolute;
    left: 10vh;
    bottom: 10vh;
    z-index: 1;
    color: white;
    font-style: italic;
    font-family: macklin;
    font-weight: 600; }

#home-2 {
  overflow: hidden;
  position: relative; }
  #home-2 .svg-v-3 {
    position: absolute;
    right: 8.25vw; }
  #home-2 .svg-v-4 {
    position: absolute;
    left: 50vw; }
  #home-2 .svg-h-3 {
    position: absolute;
    top: 25vh; }
  #home-2 .svg-h-4 {
    position: absolute;
    bottom: 25vh; }

/* */
#home-3 {
  overflow: hidden;
  position: relative; }
  #home-3 .svg-v-3 {
    position: absolute;
    right: 8.25vw; }
  #home-3 .svg-v-4 {
    position: absolute;
    right: 41.5vw; }
  #home-3 .svg-h-3 {
    position: absolute;
    top: 25vh; }
  #home-3 .svg-h-4 {
    position: absolute;
    bottom: 25vh; }

/* PORTFOLIO */
/* PORTFOLIO PAGE */
#portfolio section {
  padding-top: 15vh;
  float: left;
  padding-left: 4vw;
  padding-right: 4vw; }
#portfolio aside {
  padding-top: 15vh !important;
  border-right: 2px solid #f1f1f1;
  height: 100vh;
  float: left; }
  #portfolio aside h2 {
    font-size: 30px;
    font-weight: bold;
    font-family: gotham;
    margin-bottom: 55px; }
  #portfolio aside h3 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 40px;
    font-family: gotham; }
  #portfolio aside a {
    margin: 0;
    float: left;
    padding: 10px;
    font-family: gotham;
    text-transform: uppercase;
    background-color: #f1f1f1;
    width: 50%;
    text-align: center;
    color: grey;
    text-decoration: none;
    font-size: 14px;
    margin-bottom: 55px; }
  #portfolio aside #portfolio-active {
    background-color: #00AC98;
    color: white; }
  #portfolio aside a:hover {
    color: grey; }
  #portfolio aside label {
    margin-left: 15px; }
  #portfolio aside .update {
    width: 100%;
    margin-top: 55px;
    background-color: #F26524;
    color: white; }
  #portfolio aside .update:hover {
    color: white; }
#portfolio .container-p {
  padding: 5px;
  float: left !important; }
#portfolio .portfolio-list {
  box-shadow: 0px 0px 5px #DBDADA;
  float: left;
  height: 35vh; }
  #portfolio .portfolio-list a {
    text-decoration: none; }
  #portfolio .portfolio-list img {
    width: 100%; }
  #portfolio .portfolio-list h3 {
    font-family: gotham;
    color: #333033;
    font-size: 18px;
    padding-left: 15px;
    padding-top: 25px;
    margin: 0; }
  #portfolio .portfolio-list p {
    font-size: 14px;
    font-family: gotham;
    padding-left: 15px;
    color: #333033;
    padding-bottom: 15px;
    margin: 0; }
#portfolio .portfolio-image-container {
  min-height: 60%;
  height: 60% !important;
  overflow: hidden; }
  #portfolio .portfolio-image-container img {
    width: 100%;
    height: auto; }

/* CLOSE PORTFOLIO */

/*# sourceMappingURL=style.css.map */
